<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/433b24fc29.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../../public/css/home.css">
  <link rel="stylesheet" href="../../../public/css/modal.css">
  <link rel="stylesheet" href="../../../public/css/templates/sidebar.css">
  <link rel="stylesheet" href="../../../public/css/templates/new-collection-modal.css">
  <script src="../../../public/js/home-navigation.js"></script>
  <script src="../../../public/js/sidebar.js"></script>
  <script src="../../../public/js/calcTH.js"></script>
  <script src="../../../public/js/modal.js"></script>

  <title>Home</title>
</head>

<body>

<%- include('../templates/sidebar.ejs') %>

<div class="content-container">

  <div class="content">
    <h1>Welcome, <%= username %></h1>
    <% if (collections && collections.length > 0) { %>
      <h2>Your Collections:</h2>
      <ul>
        <% collections.forEach((collection, id) => { %>
          <li class="collection-item">
            <span class="collection-name" data-index="<%= id %>"><%= collection %></span>
            <button type="button" class="deleteCltBtn" data-index="<%= id %>">Delete</button>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <div class="centered-message">
        No collections found.
      </div>
    <% } %>

    <%- include('../templates/new-collection-modal.html') %>
  </div>
</div>

</body>
</html>
<script>

  document.querySelectorAll('.collection-name').forEach(span => {
    span.addEventListener('click', function(event) {
      const collectionName = this.textContent;
      if (!collectionName) {
        console.error('Collection name is null or undefined.');
        return;
      }
      const url = `/collection-data/${encodeURIComponent(collectionName)}`;
      window.location.href = url;
    });
  });

    document.querySelectorAll('.deleteCltBtn').forEach(button => {
      button.addEventListener('click', async function (event) {
        const index = event.target.getAttribute('data-index');
        const collectionName = '<%= collections %>'.split(',')[index];

      const response = await fetch('/delete-collection', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ collection: collectionName }),
      });

      if (response.ok) {
        event.target.parentElement.remove();
      } else {
        console.error('Failed to delete collection');
      }
    });
  });
</script>