<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/433b24fc29.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/collections.css"> <!-- Main Stylesheet for this page -->
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/templates/sidebar.css">
  <link rel="stylesheet" href="/css/templates/new-collection-modal.css">
  <script src="/js/home-navigation.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/modal.js"></script>

  <!-- Tabellen Skripte -->
  <script src="/js/calcTH.js"></script>
  <script src="/js/tableEditMode.js"></script>
  <script src="/js/inline-edit.js"></script>
  <script src="/js/editTableControls.js"></script>

  <title>Collection Data</title>

</head>

<body>
<%- include('../../templates/sidebar.ejs') %>

<div class="content-container">
  <div class="content edit-wrapper">
    <h1>Collection: <%= collectionName %></h1>

    <div class="collection-button-group">
      <button class="collection-edit-button" id="collectionEditButton">
        <span class="icon fas fa-edit"></span> Edit
      </button>
      <button class="collection-delete-button hidden" id="collectionDeleteButton">
        <span class="icon fas fa-trash-alt"></span> Delete
      </button>
      <button class="collection-save-button hidden" id="collectionSaveButton">
        <span class="icon fas fa-save"></span> Save
      </button>
      <button class="collection-cancel-button hidden" id="collectionCancelButton">
        <span class="icon fas fa-times"></span> Cancel
      </button>
     </div>
    <button id="addColumnButton" class="hidden add-column-button">+ New Column</button>
    <% if (specifiedCollection &&
            ((specifiedCollection.columns && specifiedCollection.columns.length > 0) || (specifiedCollection.entries && specifiedCollection.entries.length > 0))) { %>
      <table class="mainTable">
        <thead>
        <tr>
          <% if (specifiedCollection.columns && specifiedCollection.columns.length > 0) { %>
            <% specifiedCollection.columns.forEach(column => { %>
              <th><%= column %></th>
            <% }) %>
          <% } %>
        </tr>
        </thead>
        <tbody>
        <% if (specifiedCollection.entries && specifiedCollection.entries.length > 0) { %>
          <% specifiedCollection.entries.forEach(entry => { %>
            <tr>
              <% for (let key in entry) { %>
                <td><%= entry[key] %></td>
              <% } %>
            </tr>
          <% }) %>
        <% } %>
        </tbody>
      </table>
    <% } else { %>
      <div class="centered-message">No entries found for this collection.</div>
    <% } %>
    <button id="addRowButton" class="hidden add-row-button">+ New Entry</button>
    <%- include('../../templates/new-collection-modal.html') %>
  </div>
</div>

</body>

</html>